<!DOCTYPE html>
<html>
<head>
  <title>Imran Khan - Works</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1>Works of Imran Khan</h1>
  <p>Founding Shaukat Khanum Cancer Hospital.
    Establishing Namal University.
    Leading Pakistan to victory in the 1992 Cricket World Cup.
    Founding the Pakistan Tehreek-e-Insaf (PTI) party.
    Becoming the Prime Minister of Pakistan in 2018.</p>
  <p>"Warrior Race: A Journey Through the Land of the Tribal Pathans" (1993)
    : This book provides insight into the history, culture, and politics of the Pathan tribes in Pakistan's northwestern region.
    Imran Khan draws upon his personal experiences and interactions during his travels through the tribal areas.

    "Pakistan: A Personal History" (2011): In this autobiography, Imran Khan narrates his journey from a cricketer to a political leader,
    recounting the challenges and experiences that shaped his life and his vision for Pakistan.

    "Imran Khan: Pakistan: A Personal History" (2011): This is an updated and revised edition of his autobiography,
    "Pakistan: A Personal History," which includes additional content and perspectives.

    Apart from these books, Imran Khan has written several opinion pieces and papers on various issues, particularly related to politics, governance, and social welfare. However,
    he is primarily known for his literary contributions through his books, which have garnered attention both in Pakistan and internationally.</p>
</body>
</html>

